# k8s-deploy/ansible.cfg
# Ansible 설정

[defaults]
roles_path = ./roles
inventory = ./inventories/demo/hosts.yaml
host_key_checking = False
retry_files_enabled = False

[privilege_escalation]
become = True
become_method = sudo
